<button class="btn btn-sm btn-outline-primary mb-4" (click)="open(content)">Create a new module</button>

<ng-template #content let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title">New module</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="dateOfBirth">Title</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="name" [(ngModel)]="name">
                </div>
            </div>
            <div class="form-group">
                <label for="dateOfBirth">Slug</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="slug" [(ngModel)]="slug">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="modal.close('Cancel')">Cancel</button>
        <button type="button" class="btn btn-outline-success" (click)="addModule(modal)">Save</button>
    </div>
</ng-template>