<div class="row">

    <div class="col-lg-6 mb-4">
        <div class="card bg-primary text-white shadow">
            <div class="card-body" 
                [style.backgroundColor]="sidebarBgColor"
                [cpPosition]="'bottom'"
                [cpPositionOffset]="'50%'"
                [cpPositionRelativeToArrow]="true"
                [(colorPicker)]="sidebarBgColor">
                Sidebar background-color
                <div class="text-white-50 small">
                    {{sidebarBgColor}}
                </div>
            </div>
        </div>
    </div>
   
</div>