<!-- Content Row -->
<div class="row">

    <!-- Loader -->
    <ngx-ui-loader></ngx-ui-loader>
    <!-- End of Loader -->

    <!-- Content Column -->
    <div class="col-lg-6 mb-4">

        <!-- Project Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Application</h6>
            </div>
            <div class="card-body">
                <h4 class="small font-weight-bold">Title</h4>
                <input class="form-control" type="text" [(ngModel)]="appTitle" (change)="appTitleOnChange()">
            </div>
        </div>



    </div>

    <!-- Content Column -->
    <div class="col-lg-6 mb-4">

        <!-- Color System -->
        <app-colors-form></app-colors-form>
        <!-- Color System -->
    </div>


</div>
