<!-- Content Row -->
<div class="row">

    <!-- Loader -->
    <ngx-ui-loader [loaderId]="'page-loader'"></ngx-ui-loader>
    <!-- End of Loader -->

    <!-- Content Column -->
    <div class="col-lg-6 mb-4">

        <!-- Project Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Application</h6>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="name">Title</label> 
                    <div class="input-group mb-2">
                        <input class="form-control" type="text" [(ngModel)]="appTitle" (change)="appTitleOnChange()">
                    </div>
                    <label for="name">Icon</label> 
                    <div class="input-group mb-2">
                        <input class="form-control" type="text" [(ngModel)]="appIcon" (change)="appIconOnChange()">
                    </div>
                </div>
            </div>
        </div>



    </div>

    <!-- Content Column -->
    <div class="col-lg-6 mb-4">

        <!-- Project Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Colors</h6>
            </div>
            <div class="card-body">
                <!-- Color System -->
                <app-colors-form [sidebarBgColor]="sidebarBgColor" [sidebarFontColor]="sidebarFontColor"></app-colors-form>
                <!-- Color System -->
            </div>
        </div>


    </div>


</div>
